<h2 class="text-center mb-4">Kontrol Paneli</h2>

<div class="dashboard-container">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <h4 class="card-title">Hedeflerim</h4>
          <p class="card-text">Hedeflerinizi takip edin ve yönetin.</p>
          <form action="/goals" method="get">
            <button type="submit" class="btn btn-custom btn-lg">Hedeflerimi Gör</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <h4 class="card-title">Yeni Hedef Ekle</h4>
          <p class="card-text">Yeni bir hedef belirleyin ve başarıya odaklanın.</p>
          <form action="/goals/new" method="get">
            <button type="submit" class="btn btn-custom btn-lg">Yeni Hedef Ekle</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="form-container text-center">
    <form method="POST" action="/delete/<%= user.id %>">
      <button type="submit" class="btn btn-danger btn-lg">Hesabı Sil</button>
    </form>
  </div>
</div>
