<% layout('layouts/layout') %>

<h2>Kontrol Paneli</h2>
<p>Merhaba <strong><%= user.name %></strong>, hedeflerinizi yönetmek için aşağıdaki bölümleri kullanabilirsiniz.</p>

<ul>
  <li><a href="/goals">Hedeflerim</a></li>
  <li><a href="/goals/new">Yeni Hedef Ekle</a></li>
</ul>
